{
  "gke_project_id": "gcp-sbx-edp-gke01",
  "cluster_name": "gke-sbx-edp-main-an3",
  "location": "asia-northeast3",
  "task_name": "task01",
  "jupyter_gsa_email": "gsa-jupyter-task01@gcp-sbx-edp-comn-509423.iam.gserviceaccount.com",
  "gke_admin_service_account": "sa-im-gke-admin@gcp-sbx-edp-gke01.iam.gserviceaccount.com",
  "gateway_namespace": "gateway-system",
  "gateway_name": "external-http-gateway",
  "gateway_hostname_suffix": "sonmap.net"
}
