host_project_id       = "gcp-prod-edp-hub-vpchost"
service_project_id    = "gcp-sbx-edp-gke01"
region                = "asia-northeast3"
network_name          = "vpc-prod-edp-hub"

admin_subnet_cidr     = "172.31.10.0/24"
alb_frontend_cidr     = "172.31.96.0/27"
alb_frontend_ip       = "172.31.96.10"
alb_proxy_cidr        = "10.252.2.0/26"

gke_node_cidr         = "10.252.0.0/24"
gke_pod_cidr          = "10.240.0.0/20"
cloudrun_cidr         = "10.251.0.0/26"
cloudbuild_psa_cidr   = "10.250.0.0/24"
